.tooltipWrapper {
  display: inline-block;
}

.tooltip {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dcdde5;
  color: rgb(84, 84, 84);
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s;
  z-index: 2;
}

.tooltipWrapper:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
