.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.stats {
  width: 100%;
}

.tabs {
  display: flex;
  gap: 8px;
}

@media (max-width: 650px) {
  .stats {
    width: 80%;
    margin: 0 auto;
  }
}
