.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ecebf0;
}

.title {
  color: var(--secondary-text-color);
}

.value {
  color: #2a2c36;
  font-weight: 600;
}
