.content {
  margin-top: 16px;
}

.row {
  display: flex;
  width: 100%;
  gap: 16px;
  margin-bottom: 16px;
}

.item {
  background-color: red;
  padding: 20px;
  width: 50%;
}

@media (max-width: 768px) {
  .content {
  }
}
