:root {
  --primary-background-color: #f6f5fa;
  --secondary-backround-color: #fff;
  --text-color: #000;
  --accent-color: #8fba3e;
}

body {
  background-color: var(--primary-background-color);
  color: var(--text-color);
  font-size: 13px;
  font-weight: 500;
}

button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 0 12px;
  }
}
