.wrapper {
  width: 100%;
  padding: 16px;
  background-color: var(--primary-background-color);
  border: 1px solid #dcdde5;
  border-radius: 8px;
  --inc-color: #74b200;
  cursor: pointer;
}

.title {
  color: var(--secondary-text-color);
  font-size: 12px;
  margin-bottom: 4px;
}

.value {
  color: #2a2c36;
  font-size: 24px;
  font-weight: 600;
}

.content {
  display: flex;
  gap: 8px;
  align-items: center;
}

.increase {
  color: var(--inc-color);
  display: flex;
  gap: 4px;
  align-items: center;
}

.decrease {
  color: #f33939;
  display: flex;
  gap: 4px;
  align-items: center;
}

.active {
  border-color: var(--inc-color);
  background-color: var(--secondary-backround-color);
}
