.wrapper {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 16px;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.days {
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary-text-color);
  padding-bottom: 2px;
}
